@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
@import url("./media.css");
@import url("./popup.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  font-weight: 300;
  line-height: 164%;
  color: #101214;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #101214;
  width: 100%;
  margin: 0 auto 5rem auto;
  height: 0.5rem;
}

.footer {
  height: 5vh;
}

.main {
  display: -ms-grid;
  display: grid;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5rem 0 5rem;
  -ms-grid-columns: 2fr 2fr 1fr;
      grid-template-columns: 2fr 2fr 1fr;
      grid-template-areas: "name         name        photo" "about        about       info" "experience   experience  info" "education    education   info" "certificats  certificats info" "projects     projects    projects";
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
  font-size: 1.7rem;
}

.link_info {
  color: #73808d;
}

.item:not(:last-child) {
  margin-bottom: 4rem;
}

.container_title {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #73808d;
  letter-spacing: 0.4rem;
}

.item__title {
  font-weight: 500;
  font-size: 1.7rem;
}

.item__date {
  font-size: 1.7rem;
  color: #73808d;
}

.container_name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
}

.container_name .name__title {
  font-size: 3.4rem;
  font-weight: 500;
}

.container_name .name__subtitle {
  font-size: 2.5rem;
  font-weight: 300;
}

.container_photo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: photo;
}

.container_photo .item-image__name {
  border-radius: 100%;
  max-width: 13rem;
}

.container_about {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: about;
}

.container_experience {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: experience;
}

.container_education {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: education;
}

.container_certificats {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: certificats;
}

.container_certificats .item_certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.container_certificats .item__image-cert {
  width: 8rem;
  height: auto;
}

.item_certificate:hover {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  cursor: pointer;
}

.container_projects {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: projects;
  padding: 0;
}

.container_projects .item_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container_projects .item_project .text__box {
  padding-right: 5rem;
}

.container_projects .item__image {
  width: 17rem;
}

.item__link {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.item_project:hover .item__link {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.container_info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: info;
  padding: 0;
}

.container_info .info {
  margin-bottom: 4rem;
}

.container_info .info .info__title {
  color: #73808d;
  font-size: 2rem;
  font-weight: 500;
}

.container_info .info .info__content {
  color: #73808d;
}

.info__title_social {
  padding-bottom: 1rem;
}

.social__img {
  margin-right: 2rem;
  max-width: 5rem;
  border-radius: 5%;
}

.social__img_li {
  -webkit-filter: brightness(150%) grayscale(100%);
          filter: brightness(150%) grayscale(100%);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.social__img_gh {
  -webkit-filter: brightness(290%) grayscale(100%);
          filter: brightness(290%) grayscale(100%);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.social__img_cw {
  -webkit-filter: brightness(220%) grayscale(100%);
          filter: brightness(220%) grayscale(100%);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.social__img:hover {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
/*# sourceMappingURL=style.css.map */