@media only screen and (min-width: 500px) {
  .container_about,
  .container_experience,
  .container_education {
    margin-right: 4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    max-width: 100rem;
    grid-template-areas:
    "name name info"
    "about about skills"
    "languages languages skills"
    "education education skills"
    "experience experience experience"
    "certificats certificats certificats"
    "projects projects projects";
  }
  .item_certificate {
    width: 48%;
  }

}

@media only screen and (max-width: 800px) {
  .main {
    max-width: 50rem;
    grid-template-areas:
    "name name info"
    "about about skills"
    "languages languages skills"
    "education education skills"
    "experience experience experience"
    "certificats certificats certificats"
    "projects projects projects";
  }
  .container {
    margin-bottom: 2rem;
    justify-content: flex-start;

    .container_title {
      font-size: 12px;
    }
    .item__content {
      font-size: 14px;
    }
  }

  .container_name {
    .name__title {
      font-size: 20px;
    }
    .name__subtitle {
      font-size: 15px;
    }
  }
  .container_photo .item-image__name {
    border-radius: 100%;
    max-width: 7rem;
  }

  .container_certificats
  .item__image-cert {
    max-width: 12rem;
  }

  .container_projects .item__image {
    width: 15rem;
  }

  .social__img {
    max-width: 3.1rem;
    margin-right: 0.4rem;
  }

  .item {
    .item__title,
    .item__subtitle {
      font-size: 14px;
    }
    .item__content {
      font-size: 14px;
    }
    .item__date {
      font-size: 11px;
    }
  }


  .item_certificate {
    width: 100%;
  }

  .item__image-cert {
    width: 10rem;

  }

  .item:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .main {
    margin: 0 auto;
    max-width: 50rem;
    grid-template-columns: 2fr 2fr 1fr;
    padding: 0 1.5rem 0 1.5rem;
    grid-template-areas:
    "name         name          photo"
    "info         info          info"
    "about        about         about"
    "skills       skills        skills"
    "languages    languages     languages"
    "experience   experience    experience"
    "education    education     education"
    "certificats  certificats   certificats"
    "projects     projects      projects";
  }
  .container {
    margin-bottom: 2rem;
    justify-content: flex-start;
  }

  .container_name {
    .name__title {
      font-size: 20px;
    }
    .name__subtitle {
      font-size: 15px;
    }
  }
  .container_photo .item-image__name {
    border-radius: 100%;
    max-width: 7rem;
  }

  .container_certificats .item__image-cert {
    width: 10rem;

  }

  .container_projects .item__image-project {

    width: 15rem;
  }

  .social__img {
    max-width: 6.5rem;
    margin-right: 0.5rem;
  }

  .item__image-cert {
    width: 12rem;

  }

  .item:not(:last-child) {
    margin-bottom: 2rem;
  }

  .container_projects .item_project .text__box {
    padding-right: 1rem;
  }
}
