@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
$color-black: #101214;
$color-gray: #73808d;

$layout_color:true;

$project__grayscale:            100%;
$project__grayscale_hover:      0%;
$certificate__grayscale:        100;
$certificate__grayscale_hover:  0%;

$social__grayscale:       100%;
$social__brightness:      150%;
$social__grayscale_hover: 0%;

$li__brightness:  130%;
$li__grayscale:   100%;
$gh__brightness:  290%;
$gh__grayscale:   100%;
$cr__brightness:  240%;
$cr__grayscale:   100%;
$cw__brightness:  200%;
$cw__grayscale:   100%;
$em__brightness:  105%;
$em__grayscale:   100%;
$ph__brightness:  130%;
$ph__grayscale:   100%;

@if($layout_color==true) {
  $project__grayscale:            0%;
  $project__grayscale_hover:      90%;
  $certificate__grayscale:        0;
  $certificate__grayscale_hover:  90%;

  $social__grayscale:       0%;
  $social__brightness:      100%;
  $social__grayscale_hover: 90%;

  $li__brightness:  100%;
  $li__grayscale:   0%;
  $gh__brightness:  100%;
  $gh__grayscale:   0%;
  $cr__brightness:  100%;
  $cr__grayscale:   0%;
  $cw__brightness:  100%;
  $cw__grayscale:   0%;
  $em__brightness:  100%;
  $em__grayscale:   0%;
  $ph__brightness:  100%;
  $ph__grayscale:   0%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  user-select: none;
  text-decoration: none;
  font-weight: 300;
  line-height: 164%;
  color: $color-black;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  width: 100%;
  margin: 0 auto 5rem auto;

  height: 0.5rem;
}
.footer {
  height: 5vh;
}

.main {
  display: grid;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5rem 0 5rem;
  grid-template-columns: 2fr 2fr 2.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "name name info"
    "about about skills"
    "languages languages skills"
    "education education skills"
    "experience experience experience"
    "certificats certificats certificats"
    "projects projects projects";
}

.container {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
  margin-bottom: 4rem;
  font-size: 1.7rem;
}

.link_info {
  color: $color-gray;
}

.item:not(:last-child) {
  margin-bottom: 4rem;
}

.item__image-cert {
  width: 11rem;
  padding-right: 2rem;

}
.container_title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $color-gray;
  letter-spacing: 0.3rem;
  margin-bottom:1rem;
}

.container_title_certificate {
  width:100%;
  margin-bottom: 1rem;
}
.item__title {
  font-weight: 500;
  font-size: 1.7rem;
}

.item__date {
  font-size: 1.7rem;
  color: $color-gray;
}

.container_skills {
  grid-area: skills;
  margin-bottom: 0;
  .item_skill {
    margin-bottom:1rem;
  }
}

.container_name {
  margin-bottom: 2rem;
  grid-area: name;
  .name__title {
    font-size: 3.4rem;
    font-weight: 500;
  }
  .name__subtitle {
    font-size: 2.5rem;
    font-weight: 300;
  }
}

.container_info {
  margin-bottom: 0;
  grid-area: info;
  align-items:flex-start;
  vertical-align: middle;
  .info__social{
    margin: auto 0 auto 0;
  }
  .item-image__name {
    border-radius: 100%;
    max-width: 13rem;
    display: none;

  }
}

.container_languages {
  grid-area: languages;
}

.container_about {
  grid-area: about;
}

.container_experience {
  grid-area: experience;
}

.container_education {
  grid-area: education;
}

.container_certificats {
  grid-area: certificats;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.item_certificate {
  width: 49%;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease-in;
  filter: grayscale($certificate__grayscale);
  margin-right: 2rem;
}

.item_certificate:nth-child(odd) {
  margin-right: 0rem;

}

.item_certificate:hover {
  transition: all 0.5s ease-in;
  filter: grayscale($certificate__grayscale_hover);
  cursor: pointer;
}

.container_projects {
  grid-area: projects;
  padding: 0;
  .item_project {
    display: flex;
    justify-content: space-between;
    .text__box {
      padding-right: 5rem;
    }
  }
  .item__image {
    width: 17rem;
  }
}

.item__link {
  transition: all 0.5s ease-in;
  filter: grayscale($project__grayscale) brightness(96%);
}

.item_project:hover {
  .item__link {
    transition: all 0.5s ease-in;
    filter: grayscale($project__grayscale_hover) brightness(100%);
  }
}

.info__title_social {
  padding-bottom: 1rem;
}

.social__img {
  filter: brightness($social__brightness) grayscale($social__grayscale);
  margin-right: 1rem;
  max-width: 6rem;
  border-radius:3%;
}

.social__img_li {
  filter: brightness($li__brightness) grayscale($li__grayscale);
  transition: all 0.5s ease-in;
}

.social__img_gh {
  filter: brightness($gh__brightness) grayscale($gh__grayscale);
  transition: all 0.5s ease-in;
}

.social__img_cr {
  filter: brightness($cr__brightness) grayscale($cr__grayscale);
  transition: all 0.5s ease-in;
}

.social__img_cw {
  filter: brightness($cw__brightness) grayscale($cw__grayscale);
  transition: all 0.5s ease-in;
}

.social__img_em {
  filter: brightness($em__brightness) grayscale($em__grayscale);
  transition: all 0.5s ease-in;
}

.social__img_ph {
  filter: brightness($ph__brightness) grayscale($ph__grayscale);
  transition: all 0.5s ease-in;
}

.social__img:hover {
  transition: all 0.5s ease-in;
  filter: grayscale($social__grayscale_hover);
}
